@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-bd.woff2') format('woff2'), url('../fonts/montreuxg-bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-bdit.woff2') format('woff2'), url('../fonts/montreuxg-bdit.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-bk.woff2') format('woff2'), url('../fonts/montreuxg-bk.woff') format('woff');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-bkit.woff2') format('woff2'), url('../fonts/montreuxg-bkit.woff') format('woff');
    font-weight: 250;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-blk.woff2') format('woff2'), url('../fonts/montreuxg-blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-blkit.woff2') format('woff2'), url('../fonts/montreuxg-blkit.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-dmbd.woff2') format('woff2'), url('../fonts/montreuxg-dmbd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-dmbdit.woff2') format('woff2'), url('../fonts/montreuxg-dmbdit.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-hln.woff2') format('woff2'), url('../fonts/montreuxg-hln.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-hlnit.woff2') format('woff2'), url('../fonts/montreuxg-hlnit.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-lt.woff2') format('woff2'), url('../fonts/montreuxg-lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-ltit.woff2') format('woff2'), url('../fonts/montreuxg-ltit.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-oln.woff2') format('woff2'), url('../fonts/montreuxg-oln.woff') format('woff');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-olnit.woff2') format('woff2'), url('../fonts/montreuxg-olnit.woff') format('woff');
    font-weight: 950;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-rg.woff2') format('woff2'), url('../fonts/montreuxg-rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-rgit.woff2') format('woff2'), url('../fonts/montreuxg-rgit.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-th.woff2') format('woff2'), url('../fonts/montreuxg-th.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-thit.woff2') format('woff2'), url('../fonts/montreuxg-thit.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-ultth.woff2') format('woff2'), url('../fonts/montreuxg-ultth.woff') format('woff');
    font-weight: 150;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-ultthit.woff2') format('woff2'), url('../fonts/montreuxg-ultthit.woff') format('woff');
    font-weight: 150;
    font-style: italic;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-xbd.woff2') format('woff2'), url('../fonts/montreuxg-xbd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'montreux';
    src: url('../fonts/montreuxg-xbdit.woff2') format('woff2'), url('../fonts/montreuxg-xbdit.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}