/*
    variables file
*/
// font style
$base-font-family:"Roboto",
Helvetica,
Arial,
sans-serif;
$title-font-family: "Anton",
Georgia,
sans-serif;

// color style

$green:#119da4;
$blue:#335786;
$grey:#E6EBE0;
$purple:#A491D3;
$black:#111111;