

.collapse-block {
  box-shadow: 0px 3px 6px #00000029;
    margin: 10px -140px 30px;
    display: block;
}
@media (min-width: 576px) {
    .collapse-block  {
        max-width: 540px;
        margin: 10px -10px 30px;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .collapse-block {
        max-width: 768px;
        margin: 10px -140px 30px;
    }
}
@media (min-width: 992px){
    .collapse-block {
        max-width: 960px;
        margin: 10px -140px 30px;
    }
}
@media (min-width: 1200px){
    .collapse-block {
        max-width: 1140px;
        margin: 10px -140px 30px;
    }
}


.collapse-block .card-body {
    padding: 50px 140px;
    display: block;

}

.collapse-block .banniere{
    text-align: center;
    height: 190px;
    background-repeat: no-repeat !important;
    background-size: cover!important;
    background-position: center !important;
    display: flex;
    align-items : center;
    justify-content: center;

}

.collapse-block .banniere a{
    padding: 10px 30px;
    font: normal normal 800 1.875em Gilroy;
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none !important;
}

.collapse-block .banniere span{
    margin-left: 5px;
}

.collapse-block .banniere [aria-expanded="false"] span.icon-chevron-up-solid  {
    display: none; }
.collapse-block .banniere [aria-expanded="false"]   span.icon-chevron-down-solid  {
    display: initial; }
.collapse-block .banniere [aria-expanded="true"]  span.icon-chevron-up-solid  {
    display: initial; }

.collapse-block .banniere [aria-expanded="true"]   span.icon-chevron-down-solid {
    display: none; }